# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# Build
dist/
build/

# Cache
.eslintcache
.cache/

# OS
.DS_Store
Thumbs.db

# Git internal
*.pack
*.idx

# Vite / React
.vite/

# Logs
logs
*.log
