.footer{
    padding-top: 70px;
    padding-bottom: 30px;
}

.footer .logo{
    width: 50%;
    margin-bottom: 1rem;
}

.footer .logo p{
    color: var(--text-color);
}

.social__links span a{
    font-size: 1.2rem;
    color: var(--heading-color);
    cursor: pointer;
    text-decoration: none;
}

.footer__link-title{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--heading-color);
}

.footer__quick-links li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
}

.footer__quick-links h6 span i{
    color: var(--secondary-color);
    font-size: 1.1rem;
}

.copyright{
    color: var(--text-color);
    font-size: 1rem;
}